/* 
formats:
.otf = "OpenType"
.ttf = "TrueType"
.woff2 = "woff2"
.woff = "woff"

weights:
100 - Thin
200 - Extra light (Ultra light)
300 - Light
400 - Normal (Regular)
500 - Medium
600 - Semi Bold (Demi bold)
700 - Bold
800 - Extra bold (Ultra bold)
900 - Black (Heavy)

example:
  @font-face {
    font-family: "FontName";
    src: url("..dir/fontname.otf") format("OpenType");
    font-weight: 400;
  }
*/

@font-face {
  font-family: "AgoraSans";
  src: url("../fonts/PFAgoraSansProThin.ttf") format("TrueType");
  font-weight: 100;
}
@font-face {
  font-family: "AgoraSans";
  src: url("../fonts/PFAgoraSansProLight.ttf") format("TrueType");
  font-weight: 300;
}
@font-face {
  font-family: "AgoraSans";
  src: url("../fonts/PFAgoraSansProRegular.ttf") format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "AgoraSans";
  src: url("../fonts/PFAgoraSansProMedium.ttf") format("TrueType");
  font-weight: 500;
}
@font-face {
  font-family: "AgoraSans";
  src: url("../fonts/PFAgoraSansProBold.ttf") format("TrueType");
  font-weight: 700;
}
@font-face {
  font-family: "AgoraSans";
  src: url("../fonts/PFAgoraSansProBlack.ttf") format("TrueType");
  font-weight: 900;
}
