body {
  background-color: $white-color;
  &.hidden {
    overflow: hidden;
  }
}
.container {
  max-width: 940px;
  // @include media-breakpoint-up(xl) {
  // }

  // @include media-breakpoint-down(md) {
  // }
}
#map {
  height: 540px;
}
