footer#footer.footer-white
    .container
        .footer-white__wrapper
            span 2022 Pink Shark Marketing Inc. All rights reserved.
            ul.footer-white__links
                li
                    a(href="#") Shipping & Returns
                li
                    a(href="#") PRIVACY POLICY
script(src="js/main.min.js")