-
    var nav = [
        {
            title: 'Головна',
            link: '/'
        },
        {
            title: 'Про нас',
            link: 'about_us.html '
        },
        {
            title: 'Оцінка',
            link: '/#calculator'
        },
        {
            title: 'Акції',
            link: '/promotions.html'
        },
        {
            title: 'Відділення',
            link: '/#map'
        }
    ]

header.header
    nav.header__wrapper.container.flex.jc-between.ai-center
        a(href='/' class='header__logo desktop')
            include ../../../images/logo_d.svg
        a(href='/' class='header__logo mobile')
            include ../../../images/logo_m.svg
        ul.header__menu.header-desk.flex
            for link in nav 
                li
                    a(href=link.link)= link.title
        a.header__phone(href="tel:+380506540081") 050 654 00 81
        .header__mobile.mobile.ai-center
            a.mobile__icon(href="#")
                include ../../../images/phone_m.svg
            a.mobile__icon(href="#") 
                include ../../../images/promotion.svg
            a.mobile__icon(href="#") 
                include ../../../images/location.svg
            a#hamburger.hamburger.flex.flex-column.jc-between
                span.line
                span.line
                span.line
.header__menu-mobile.header-mob
    ul.header-mob__list.list
        for link in nav 
            li.list__item.item
                a.item__link(class='header__menu--link' href=link.link)= link.title
    .header-mob__descr
        p Працюємо без 
        p вихідних 
        p 9:00-19:00
    .header-mob__phone
        a(href="tel:+380950827957") 095 082 79 57
        a(href="tel:+380506540081") 050 654 00 81
    .header-mob__social 
        a(href="https://www.instagram.com/lombard.cv.ua?igsh=cjJtMWo4bHh6NDl6&utm_source=qr" target="_blank")
            include ../../../images/instagram.svg
        a(href="https://www.facebook.com/profile.php?id=100089765018204" target="_blank")
            include ../../../images/facebook.svg
        a(href="https://www.tiktok.com/@lombard.cv.ua?_t=8jKNqK08KCD&_r=1" target="_blank")
            include ../../../images/tiktok.svg
        a(href="#")  
            include ../../../images/viber.svg
        a(href="#")
            include ../../../images/telegram.svg