.about-us {
  &__title {
    padding: 88px 0 32px;
    @include media-breakpoint-down(md) {
      padding: 48px 0 18px;
    }
  }
  &__wrapper {
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    padding: 60px 0;
    @include media-breakpoint-down(lg) {
      padding: 16px 0 40px;
    }
  }
  &__content {
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    img {
      max-width: 100%;
      @include media-breakpoint-down(lg) {
        margin-bottom: 24px;
      }
    }
    &--item {
      @include media-breakpoint-up(lg) {
        width: calc(50% - 20px);
      }
    }
    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      @include media-breakpoint-down(lg) {
        align-items: center;
      }
      p {
        font-family: "BwMitga", sans-serif;
        @include font(16, 25, 400);
        margin-bottom: 28px;
      }
      .logos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 40px;
        img {
          margin-right: 30px;
          margin-bottom: 20px;
        }
      }
      a.btn {
        padding-left: 15px;
        padding-right: 15px;
        // min-width: 345px;
        @include media-breakpoint-up(lg) {
          margin-left: 0;
        }
        &_short {
          padding: unset;
          margin-left: 30px;
          min-width: unset;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include media-breakpoint-down(lg) {
            position: absolute;
            top: -60px;
            left: calc(50% - 32px);
            margin-left: unset;
          }
          // @include media-breakpoint-down(md) {
          //   top: 310px;
          // }
        }
      }
    }
    .buttons {
      display: flex;
    }
  }
}
.company-awards {
  padding: 100px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      text-transform: uppercase;
      margin-bottom: 60px;
    }
    .logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: -20px;
      @include media-breakpoint-down(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      }
      img {
        @include media-breakpoint-up(lg) {
          margin-right: 41px;
        }
        margin-bottom: 20px;
      }
    }
  }
}
