.calculator {
  h2 {
    margin-bottom: 15px;
    @include min-width(b-md) {
      margin-bottom: 20px;
    }
  }
  // .flex {
  //   display: flex;
  //   justify-content: space-between;
  // }
  .desktop {
    background-color: $red-color;
    @include max-width(b-md) {
      display: none;
    }
    .tabs {
      display: flex;
      a {
        border: 1px solid $crystal-white-color;
        padding: 10px 25px;
        width: 100%;
        cursor: pointer;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $crystal-white-color;
        &.active {
          color: $black-color;
          background-color: $crystal-white-color;
        }
      }
    }
    .items-wrapper {
      background-image: url(../../images/right.svg);
      background-position: right;
      background-repeat: no-repeat;
    }
    .items {
      color: $crystal-white-color;
      background-image: url(../../images/left.svg);
      background-position: left;
      background-repeat: no-repeat;
    }
    .item {
      margin: 0 auto;
      padding: 80px 0 135px;
      max-width: 510px;
      width: 100%;
      display: none;
      &.active {
        display: block;
      }
    }
    .field,
    .stars {
      width: calc(50% - 5px);
      &.large {
        width: 100%;
      }
      p {
        @include font(12, 14, 400);
        margin-bottom: 7px;
        color: $crystal-white-color;
      }
      input {
        width: 100%;
        @include font(16, 20, 400);
      }
      .ss-single {
        @include font(16, 20, 400);
      }
      .ss-main,
      input {
        padding: 20px;
        border-radius: 3px;
        border: none;
      }
      margin-bottom: 24px;
    }
    .total {
      padding: 35px 0 16px;
      margin-bottom: 24px;
      text-align: center;
      background-color: $crystal-white-color;
      color: $black-color;
      &__descr {
        p {
          @include font(16, 20, 400);
          margin-bottom: 10px;
        }
      }
      &__count {
        p {
          @include font(40, 48, 500);
          color: $red-color;
        }
      }
    }
    .calculate {
      display: flex;
      align-items: center;
      width: fit-content;
      color: $black-color;
      margin: 0 auto;
      padding: 10px;
      border-radius: 3px;
      background-color: $crystal-white-color;
      cursor: pointer;
      p {
        margin-right: 10px;
      }
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .stars {
    &__container {
      display: flex;
      margin-bottom: 10px;
      @include max-width(b-md) {
        justify-content: space-evenly;
      }
    }
    .stars__title {
      margin-bottom: 7px;
    }
    .star {
      margin-right: 25px;
      p {
        text-align: center;
      }
      @include max-width(b-md) {
        margin-right: unset;
      }
    }
  }
  .mobile {
    display: none;
    .item {
      height: 60px;
      overflow: hidden;
      &.active {
        height: 100%;
        overflow: unset;
      }
      background-color: $crystal-white-color;
      &__head {
        @include font(16, 18, 400);
        display: block;
        text-align: center;
        background-color: $red-color;
        color: $crystal-white-color;
        border: 1px solid $crystal-white-color;
        border-radius: 3px;
        padding: 20px 0;
      }
      &__body {
        padding: 20px 15px;
      }
    }
    .field {
      color: $red-color;
      input,
      .ss-main {
        margin-bottom: 17px;
        @include font(16, 20, 300);
        width: 100%;
        padding: 20px;
        background-color: $white-color;
        border: none;
      }
      p {
        padding-bottom: 7px;
      }
    }
    .total {
      padding: 30px 0;
      margin-bottom: 20px;
      text-align: center;
      border-radius: 3px;
      border: 2px solid $red-color;
      &__descr {
        p {
          margin-bottom: 10px;
          @include font(16, 20, 300);
        }
      }
      &__count {
        color: $red-color;
        @include font(24, 28, 500);
      }
    }
    .calculate {
      padding: 12px;
      background-color: $red-color;
      p {
        color: $crystal-white-color;
        margin-right: 10px;
      }
    }
  }
  @include max-width(b-md) {
    .mobile {
      display: block;
    }
  }
  .rating {
    display: flex;
    width: 100%;
    justify-content: left;
    overflow: hidden;
    flex-direction: row-reverse;
    // height: 150px;
    position: relative;
  }
  rating-0 {
    filter: grayscale(100%);
  }

  .rating > input {
    display: none;
  }

  .rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    // margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: 0.3s;
  }

  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }

  .rating > input:not(:checked) ~ label:hover,
  .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }
}
