.faq {
  background-color: $light-gray-color;
  padding: 120px 0 147px;
  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }
  &__title {
    border-bottom: 1px solid #958677;
    padding-bottom: 32px;
    &--wrapper {
      @include flex-center();
    }
  }
  &__questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    .accordion {
      max-width: 967px;
      width: 100%;
      background-color: $light-gray-color;
      .accordion-item {
        background-color: $light-gray-color;
        border: none;
        border-bottom: 1px solid #958677;
        padding: 42px 0;
        @include media-breakpoint-down(md) {
          padding: 20px 0;
        }
      }
      .accordion-item:last-of-type {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
      }
      .accordion-button {
        background-color: $light-gray-color;
        box-shadow: none;
        font-family: "Pulse", sans-serif;
        @include font(24, 33, 400);
        @include media-breakpoint-down(md) {
          @include font(20, 28, 400);
        }

        text-transform: uppercase;
        color: #121212;
        padding: 0;
        position: relative;
        width: calc(100% - 42px);
        &:focus {
          color: #121212;
        }
        &::before,
        &::after {
          content: "";
          width: 24px;
          height: 2.6px;
          background-color: $black-color;
          position: absolute;
          top: 50%;
          right: -42px;
          transform: translateY(-50%);
        }
        &::after {
          background-image: none;
          transition: 0.3s;
          width: 2px;
          right: -30px;
          transform: translateY(-50%) rotate(90deg);
        }
        &.collapsed {
          &::after {
            width: 24px;
            right: -42px;
            transform: translateY(-50%) rotate(90deg);
          }
        }
      }
      .accordion-body {
        padding: 21px 0 0;
        width: calc(100% - 42px);
        p {
          font-family: "BwMitga", sans-serif;
          color: $dark-gray-color;
          @include font(14, 22, 400);
        }
      }
    }
  }
}
