.map {
  &__title {
    margin-bottom: 32px;
  }
  .ss-main {
    width: fit-content;
    min-width: 430px;
    border-radius: unset;
    border: 1px solid $red-color;
  }
  .direction {
    &__btn {
      background-color: $red-color;
      padding: 20px;
    }
  }
  #map {
    border: 1px solid $red-color;
  }
  .direction-buttons,
  .direction-text {
    width: fit-content;
    margin: 0 auto;
  }
  .create-direction {
    color: $white-color;
    background-color: $red-color;
    border-radius: 3px;
    padding: 10px 25px;
  }
}
