.popup {
  display: none;

  &__wrapper {
    background-color: rgba(0, 0, 0, 0.479);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }

  &__inner {
    position: relative;
    margin: 0 auto;
    margin-top: 145px;
    max-width: 900px;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
  }

  &__image {
    display: flex;
    align-items: flex-end;
    height: 324px;
    background-image: url(../../images/popup.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      height: 165px;
    }
  }

  &__title {
    position: relative;
    width: 100%;
    border-bottom: 201px solid #000000e0;
    border-right: 60px solid transparent;
    @include media-breakpoint-down(md) {
      border-bottom: 130px solid #000000e0;
    }
    // &::before {
    //   position: absolute;
    //   content: url(../../images/svg/play.svg);
    //   top: -28px;
    //   left: 25px;
    // }

    h4 {
      top: 40px;
      left: 32px;
      position: absolute;
      color: #fff;
      font-family: "Montserrat";
      @include media-breakpoint-down(md) {
        @include font(14, 18, 400);
      }
    }
  }

  &__form {
    background-color: #fff;
    padding: 32px 60px 60px 60px;
    @include media-breakpoint-down(md) {
      padding: 20px 15px;
    }

    p {
      margin-bottom: 20px;
      @include media-breakpoint-down(md) {
        @include font(12, 14, 400);
      }
    }
  }
  .flex {
    display: flex;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .close {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  input {
    padding: 20px 33px;
    border: 1px solid #535353;
    width: 100%;
    border-radius: 41px;
    @include media-breakpoint-down(md) {
      padding: 10px 20px;
    }
    &:focus-visible {
      outline: none;
    }
    &:first-child {
      margin-right: 10px;
      @include media-breakpoint-down(md) {
        margin-right: unset;
        margin-bottom: 10px;
      }
    }
  }

  .btn {
    margin-top: 32px;
    border: unset;
  }
  &.show {
    display: block;
  }
}

.header-login-mob {
  width: 100%;
  position: fixed;
  background-color: #fff;
  text-align: center;
  z-index: 3;
  top: -435px;

  &.open {
    top: 81px;
  }

  h6 {
    padding: 28px 0;
    text-transform: uppercase;
    border-bottom: 1px solid $silver-color;
    color: $black-color;
  }

  a {
    margin-bottom: 18px;
    font-family: "BwMitga";
    @include font(16, 25, 400);
    text-decoration: underline;
  }

  form {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input {
      background: #fff;
      border: 1px solid $silver-color;
      border-radius: 41px;
      padding: 12px 0;
      padding-left: 24px;
      width: 100%;
      margin-bottom: 16px;
      font-family: "BwMitga", sans-serif;
      @include font(14, 22, 400);
      color: $black-color;
    }

    input[type="submit"] {
      background-color: $gray-color;
      color: #fff;
      text-transform: uppercase;
      transition: 0.3s;

      &:hover {
        background-color: $black-color;
        border: 1px solid #fff;
      }
    }

    p {
      @include font(14, 22, 400);
      color: $dark-gray-color;
    }
  }
}

.header-menu-mob {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 3;
  top: -435px;
  transition: 0.5s;

  &.open {
    top: 81px;
    transition: 0.5s;
  }

  li {
    padding-left: 15px;
    font-family: "Pulse";
    @include font(16, 20, 400);
    text-transform: uppercase;
    border-bottom: 1px solid $silver-color;

    a {
      display: block;
      padding: 24px 0;
    }

    p {
      margin-left: 16px;
    }

    &:last-child {
      border-bottom: unset;
    }
  }
}

.header-popup {
  position: absolute;
  top: 77px;
  right: 0;

  @include media-breakpoint-down(md) {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    top: 67px;
  }

  .login-popup {
    display: none;
    width: 404px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid $silver-color;
    text-align: center;

    &.open {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: calc(50% - 6px);
      width: 25px;
      height: 25px;
      background-color: #fff;
      transform: rotate(45deg);

      @media (max-width: 1299px) {
        left: unset;
        right: 77px;
      }
    }

    h6 {
      padding: 32px 0;
      text-transform: uppercase;
      border-bottom: 1px solid $silver-color;
      color: $black-color;
    }

    a {
      margin-bottom: 18px;
      font-family: "BwMitga";
      @include font(16, 25, 400);
      text-decoration: underline;
    }

    form {
      padding: 32px 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      input {
        background: #fff;
        border: 1px solid $silver-color;
        border-radius: 41px;
        padding: 12px 0;
        padding-left: 24px;
        width: 100%;
        margin-bottom: 20px;
        font-family: "BwMitga", sans-serif;
        @include font(16, 25, 400);
        color: $black-color;
      }

      input[type="submit"] {
        background-color: $gray-color;
        color: #fff;
        text-transform: uppercase;
        transition: 0.3s;

        &:hover {
          background-color: $black-color;
          border: 1px solid #fff;
        }
      }

      .black {
        color: $black-color;
      }

      .gray {
        color: $dark-gray-color;
      }
    }
  }

  .menu-popup {
    display: none;
    background-color: #fff;
    border-radius: 12px;
    padding-top: 8px;
    width: 288px;
    margin-right: 100px;

    &.open {
      display: block;
    }

    @media (max-width: 1299px) {
      margin-right: unset;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -12px;
      right: 185px;
      width: 25px;
      height: 25px;
      background-color: #fff;
      transform: rotate(45deg);

      @media (max-width: 1299px) {
        right: 80px;
      }
    }

    li {
      padding-left: 32px;
      font-family: "Pulse";
      @include font(16, 20, 400);
      text-transform: uppercase;
      border-bottom: 1px solid $silver-color;

      a {
        display: block;
        padding: 28px 0;
        color: $black-color;
      }

      p {
        margin-left: 16px;
        font-family: "Pulse";
        color: $black-color;
      }

      &:last-child {
        border-bottom: unset;
      }
    }
  }
}
