- var title = 'ZHAR | Будинок у стилі арт-деко'
-
  var nav = [
    {
      title: 'Послуги',
      link: '/#services'
    },
    {
      title: 'Про нас',
      link: '/#about-us'
    },
    {
      title: 'Наші кейси',
      link: '/#cases'
    },
    {
      title: 'Відгуки',
      link: '/#feedback'
    },
    {
      title: 'Команда',
      link: '/#team'
    },
    {
      title: 'Питання',
      link: '/#faq'
    }
  ]
-
  var item = {
    bg: '/images/cases/case1.webp',
    title: 'Будинок у стилі арт-деко',
    subtitle: 'Послуга "Під ключ"',

    item_stroke1: 'площа',
    item_key1: '400 м²',

    item_stroke2: 'ціна',
    item_key2: '6500$',

    goals: 'Замовник проживає закордоном в Німеччині, а будинок знаходиться в Україні - реалізація «під ключ». Час реалізації 3 місяці, весь період клієнт був з нами на онлайн звʼязку, обирав всі тканини та затверджував функціонал. Було запропоновано 3 чека з різним метражем та пошивом тканин, а також різної цінової категорії карнизи. Клієнт обрав середню цінову категорію та забажав реалізацію в один день, що ми й врахували. За один день команда в повному складі здійснила монтаж карнизів та навіс гардин. Клієнт залишився задоволений нашим сервісом.',
    designer: 'Вікторія',
    budget: '6500 $',
    keys: [
      {
        key: 'Послуга',
        value: '"Під ключ"'
      },
      {
        key: 'Площа об`єкта',
        value: '400м²',
      },
      {
        key: 'Об`єм',
        value: '200м штор та 360м тюлі',
      },
    ],
    main_image: {
      url: 'images/case1/main.webp',
      alt: 'main'
    },
    images: [
      {
        url: 'images/case1/01.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/02.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/04.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/05.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/06.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/07.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/09.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/010.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/011.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/012.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/013.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/014.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/015.webp',
        alt: 'case',
      },
      {
        url: 'images/case1/016.webp',
        alt: 'case',
      },
    ]
  }

doctype html
html(lang="uk")
  include pug/sections/global/head.pug
  body
    include pug/sections/global/header.pug
    include pug/sections/case.pug
    include pug/sections/global/footer.pug