- var title = 'ZHAR | Будинок у сучасному стилі'
-
  var nav = [
    {
      title: 'Послуги',
      link: '/#services'
    },
    {
      title: 'Про нас',
      link: '/#about-us'
    },
    {
      title: 'Наші кейси',
      link: '/#cases'
    },
    {
      title: 'Відгуки',
      link: '/#feedback'
    },
    {
      title: 'Команда',
      link: '/#team'
    },
    {
      title: 'Питання',
      link: '/#faq'
    }
  ]
-
  var item = {
    bg: '/images/cases/case3.webp',
    title: 'Будинок у сучасному стилі',
    subtitle: 'Послуга “Під ключ”',
    
    item_stroke1: 'Площа',
    item_key1: '250м²',

    item_stroke2: 'Ціна',
    item_key2: '4000$',
    
    goals: 'Клієнт звернувся до нас із запитом реалізації по наявному дизайн проєкту. Спочатку в онлайн режимі ми обговорили діапазон фінансової частини та термін реалізації, після - організували виїзну консультацію майстра разом із дизайнером та всіма необхідними матеріалами для підбору текстилю, карнизів та сонцезахистних систем. Реалізація відбувалася у два етапи , перший - монтаж карнизів та жалюзі, другий - прасування та навішування гардин. Клієнтові залишається тільки приймати готову реалізовану роботу.',
    designer: 'Яна',
    budget: '4000$',
    keys: [
      {
        key: 'Послуга',
        value: 'Під ключ'
      },
      {
        key: 'Жалюзі',
        value: '6 каскадних римок, «день-ніч» 2 вироби у закритій системі'
      },
      {
        key: 'Тюль',
        value: '60м'
      },
      {
        key: 'Штори',
        value: '40м'
      },
    ],
    main_image: {
      url: 'images/case3/main.webp',
      alt: 'main'
    },
    images: [
      {
        url: 'images/case3/01.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/02.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/03.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/04.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/05.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/06.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/07.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/08.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/09.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/010.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/011.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/012.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/013.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/014.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/015.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/016.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/017.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/018.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/019.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/020.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/021.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/022.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/023.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/024.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/025.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/026.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/027.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/028.webp',
        alt: 'case',
      },
      {
        url: 'images/case3/029.webp',
        alt: 'case',
      },
    ]
  }
doctype html
html(lang="uk")
  include pug/sections/global/head.pug
  body
    include pug/sections/global/header.pug
    include pug/sections/case.pug
    include pug/sections/global/footer.pug