- var title = 'Zhar | Танхаус у сучасному стилі'
-
  var nav = [
    {
      title: 'Послуги',
      link: '/#services'
    },
    {
      title: 'Про нас',
      link: '/#about-us'
    },
    {
      title: 'Наші кейси',
      link: '/#cases'
    },
    {
      title: 'Відгуки',
      link: '/#feedback'
    },
    {
      title: 'Команда',
      link: '/#team'
    },
    {
      title: 'Питання',
      link: '/#faq'
    }
  ]
-
  var item = {
    bg: '/images/cases/case1.webp',
    title: 'Танхаус у сучасному стилі',
    subtitle: 'Послуга “Під ключ”',

    item_stroke1: 'площа об`єкта',
    item_key1: '400 м²',

    item_stroke2: 'тривалість реалізації',
    item_key2: '3 тижні',


    goals: 'Клієнт звернувся з запитом виїзної консультації у м.Снятин - були обрані тканини середньої цінової категорії 14~35$/м та враховані всі побажання щодо функціоналу',
    designer: 'Яна',
    budget: '2700$',
    keys: [
      {
        key: 'послуга',
        value: '"Під ключ"'
      },
      {
        key: 'Площа об`єкта',
        value: '400м²'
      },
      {
        key: 'Час реалізації',
        value: '3 тижні'
      },
    ],
    main_image: {
      url: 'images/case2/main.webp',
      alt: 'main'
    },
    images: [
      {
        url: 'images/case2/01.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/02.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/03.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/04.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/05.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/06.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/07.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/08.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/09.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/010.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/011.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/012.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/013.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/014.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/015.webp',
        alt: 'case',
      },
      {
        url: 'images/case2/016.webp',
        alt: 'case',
      },
    ]
  }
doctype html
html(lang="uk")
  include pug/sections/global/head.pug
  body
    include pug/sections/global/header.pug
    include pug/sections/case.pug
    include pug/sections/global/footer.pug 