- var title = 'ZHAR | Сучаний дизайнерський будинок'
-
  var nav = [
    {
      title: 'Послуги',
      link: '/#services'
    },
    {
      title: 'Про нас',
      link: '/#about-us'
    },
    {
      title: 'Наші кейси',
      link: '/#cases'
    },
    {
      title: 'Відгуки',
      link: '/#feedback'
    },
    {
      title: 'Команда',
      link: '/#team'
    },
    {
      title: 'Питання',
      link: '/#faq'
    }
  ]
-
  var item = {
    bg: '/images/cases/case7.webp',
    title: 'Сучаний дизайнерський будинок',
    subtitle: 'Онлайн підбір',

    item_stroke1: 'тюлі',
    item_key1: '143м',

    item_stroke2: 'штори',
    item_key2: '92м',


    goals: 'Клієнт звернувся до нас із запитом підібрати гардини, карнизи  та сонцезахисні системи , з подальшим самостійним монтажем та навісом. Дизайнер Олеся на кожному етапі надавала точкові поради щодо зняття замірів та монтажу карнизів , римських штор. Також в онлайн режимі показала, як саме стягнути штори, щоб вони функціонували і мали вигляд у відкритому вигляді як бажав клієнт. Кожен етап було проконтрольовано і клієнт чудово справився з даною задачею з нашою допомогою в режимі онлайн. Тому проєкти на відстані - це не проблема✔️',
    designer: 'Олеся',
    budget: '4200$',
    keys: [
      {
        key: 'Послуга',
        value: 'Онлайн підбір'
      },
      {
        key: 'Час реалізації',
        value: '40 днів'
      },
      {
        key: 'Тюлі',
        value: '143 м'
      },
      {
        key: 'Штори',
        value: '92 м'
      },
    ],
    main_image: {
      url: 'images/case7/02.webp',
      alt: 'main'
    },
    images: [
      {
        url: 'images/case7/02.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/01.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/03.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/04.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/05.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/06.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/07.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/08.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/09.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/010.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/011.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/012.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/013.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/014.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/016.webp',
        alt: 'case',
      },
      {
        url: 'images/case7/016.webp',
        alt: 'case',
      },
    ]
  }
doctype html
html(lang="uk")
  include pug/sections/global/head.pug
  body
    include pug/sections/global/header.pug
    include pug/sections/case.pug
    include pug/sections/global/footer.pug