
- var title = 'ZHAR | Офіс “дерев’янні жалюзі”'
-
  var nav = [
    {
      title: 'Послуги',
      link: '/#services'
    },
    {
      title: 'Про нас',
      link: '/#about-us'
    },
    {
      title: 'Наші кейси',
      link: '/#cases'
    },
    {
      title: 'Відгуки',
      link: '/#feedback'
    },
    {
      title: 'Команда',
      link: '/#team'
    },
    {
      title: 'Питання',
      link: '/#faq'
    }
  ]
-
  var item = {
    bg: '/images/cases/case8.webp',
    title: 'Офіс “дерев’янні жалюзі”',
    subtitle: 'Сонцезахисні системи',
    
    item_stroke1: '700$',
    item_key1: 'ВАРТІСТЬ ОДНОГО ВИРОБУ',

    item_stroke2: '',
    item_key2: '',

    goals: 'Використано ламель 50мм,оздоблено додатковою декоративною стрічкою, обраною під колір стельових панелей , тип управління - ручний. У нашому салоні є ламелі трьох розмірів :25мм, 35мм , 50мм  Основа : пресоване дерево або polywood( по принципу терасної дошки).',
    designer: 'Яна',
    budget: '700$ - вартість одного виробу з монтажем',
    keys: [
      {
        key: 'Послуга',
        value: 'Сонцезахисні системи'
      },
      {
        key: 'Час реалізації',
        value: '3 тижні'
      },
    ],
    main_image: {
      url: 'images/case8/08.webp',
      alt: 'main'
    },
    images: [
      {
        url: 'images/case8/01.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/02.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/03.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/04.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/05.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/06.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/07.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/08.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/09.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/010.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/011.webp',
        alt: 'case',
      },
      {
        url: 'images/case8/012.webp',
        alt: 'case',
      },
    ]
  }
doctype html
html(lang="uk")
  include pug/sections/global/head.pug
  body
    include pug/sections/global/header.pug
    include pug/sections/case.pug
    include pug/sections/global/footer.pug