- var title = 'TITLE'
- var gTag = 'G-'
-
    var nav = [
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        }
    ]
doctype html    
html(lang="uk")
    include pug/sections/global/head.pug
    body
        include pug/sections/global/header.pug
        section.promotion.container 
          .promotion__image
            img(src="images/001.webp", alt="")
          h2.promotion__title "Перша зустріч"
          .promotion__subtitle 
            p Якщо ви до нас потрапили вперше,  на вас чекає приємний сюрприз.  Ми пропонуємо відсоткову ставку розміром 0,1% в день на грошову позику не більше 4000 грн.
          .promotion__exp 
            p Діє до: 31.12.2024
          .promotion__text 
            p Office ipsum you must be muted. Based weaponize launch incentivization caught believe. Level crack third needed including engagement minimize hanging. Room player-coach got cloud close a baked cross-pollination up buy-in. Own goalposts wheel is finance welcome search. Reference dunder pups right policy. Calculator market up food donuts into my.
            p Please policy lean no unlock comms work practices productive. Board just unlock ideal keep hours is. Fruit unlock should dunder put scraps didn't slipstream marginalised 4-blocker. Protocol power unit reach diarize. Break rehydrate driver's resources say culture here knowledge. Low-hanging shower bed forward globalize goto paradigm dangerous eco-system harvest. Awareness feature three opportunity can silently scope before another post.
            p Intersection strategy heads-up drive note bells most slipstream barn boy. Idea investigation bandwagon teeth initiative. Make they hour offline turn. Email more digital involved disband cause. Strategic feature high-level skulls bells assassin deploy die synergize problem. Recap they stand without high-level. Beforehand design feelers circle metal squad supervisor post. Deep marketing incentivize brainstorming functional regroup.
            p Metal native lift ocean key working say.

        section.promotions.container 
          h2.promotions__title Інші акції
          .promotions__items.items.flex.wrap.jc-between 
            .items__item.item
              .item__image 
                img(src="images/001.webp", alt="")
              h5.item__title Заголовок Акції
              .item__descr 
                p Office ipsum you must be muted. Pretend let data job minimize. Shark spaces shoot pollination strategies.
              .item__exp
                p Діє до: 31.12.2024
            .items__item.item 
              .item__image 
                img(src="images/002.webp", alt="")
              h5.item__title Заголовок Акції
              .item__descr 
                p Office ipsum you must be muted. Pretend let data job minimize. Shark spaces shoot pollination strategies.
              .item__exp
                p Діє до: 31.12.2024
            .items__item.item 
              .item__image 
                img(src="images/003.webp", alt="")
              h5.item__title Заголовок Акції
              .item__descr 
                p Office ipsum you must be muted. Pretend let data job minimize. Shark spaces shoot pollination strategies.
              .item__exp
                p Діє до: 31.12.2024
            .items__item.item 
              .item__image 
                img(src="images/004.webp", alt="")
              h5.item__title Заголовок Акції
              .item__descr 
                p Office ipsum you must be muted. Pretend let data job minimize. Shark spaces shoot pollination strategies.
              .item__exp
                p Діє до: 31.12.2024

        include pug/sections/map.pug
        include pug/sections/global/footer.pug