- var title = 'Дякуємо що обрали нас!'
- var gTag = 'G-8WMFGNN6LS'

doctype html
html(lang="uk")
    include pug/sections/global/head.pug
    body
      .success 
        h5 Дякуємо, Ваша заявка прийнята!
        h5 Менеджер зв’яжеться з вами найближчим часом!
        a(href="/" class="btn btn_secondary btn_large btn-back") Повернутись назад