section.faq#faq
    .faq__title
        .container
            .faq__title--wrapper
                h2 топ 5 питань
    .faq__content
        .container
            .faq__questions
                #accordionExample.accordion
                    .accordion-item
                        h2#headingOne.accordion-header
                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                | Як відбувається підбір?
                        #collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                            .accordion-body
                                p Дизайн підбір розпочинається з ознайомленням запиту клієнта, щодо його уподобань, а також надання фото та відео матеріалів: де саме мають бути вмонтовані штори, тюлі, жалюзі чи карнизи.
                                p По кожному з обраних сегментів ми надаємо точкову консультацію. Якщо це карнизи, то яке їхнє розміщення. Якщо є ніша, то що і як потрібно зробити. Якщо дизайн підбір відбувається в режимі онлайн, то всі моменти ми узгоджуємо точково, по кожному запиту.
                                p По бажанню клієнта робиться візуалізація малюнку, як саме буде виглядати кінечний результат і запускається в роботу.
                                p Якщо це виїзна консультація, ми обов'язково дізнаємось запит, побажання клієнта. Якщо це жалюзі, то якого формату, адже у нас є дуже багато взірців. 

                                p Яка цінова категорія? Ми беремо декілька видів матеріалів з собою, щоб прикласти безпосередньо на об'єкті, беремо всі можливі взірці тюлів, шторів, жалюзів та карнизів. На об'єкті здійснюється підбір під ваш тип освітлення та відносно вашого запиту. Тобто для підготовки і запису на виїзну чи онлайн консультацію, нам потрібно почути ваш запит, отримати фото та відео, де саме будуть працювати дизайнер з майстром.
                    .accordion-item
                        h2#headingTwo.accordion-header
                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                | Які у вас ніші?
                        #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                            .accordion-body
                                p Ніша - це важлива складова для загального вигляду і функціоналу штори. Ніша виробляється на початку розробки дизайн проєкту. 
                                p Якщо це проєкт дизайнер, він узгоджує з вами всі технічні моменти. Якщо ви самостійно розробляєте ремонт, ви можете звернутися до нас, щоб не допустити цих помилок. Тобто на етапі розробки стелі, кручення гіпсокартонних стильових систем чи натяжних стелей, краще звернутися до нас.
                                p Немає стандарту, адже є різні виступи батареї або їх відсутність, є різні запити по-вашому проєкту. 
                                p Стандартний відступ ніші розпочинається від 20 см. Якщо це має бути тюль та штора і вони мають бути рухомі, то найкраща ширина - це 25 см. Якщо це має бути електрокарниз на тюлі або на штори, відступ ніші має бути від 30 см, а далі все в індивідуальному порядку ,тобто ви розповідаєте, що має бути у вас відступ батареї чи це буде проста підлога і далі надаємо повну консультацію, адже від неправильної ніші ваші штори можуть не функціонувати та будуть неправильно пошиті, від неправильного опуску ніш, зіпсується вигляд, якщо не розрахувати відступ батареї і ніші, тканина падатиме на батареї і виглядатиме досить некрасиво і несиметрично.Тобто там де батарея вона буде підстрілена, а по боках буде нормальний розмір. Тому ці всі пункти бажано розписати і завчасно звернутися до нас за консультацією.Є стандарт, але він не завжди відповідає тому, що вам потрібно.Ви надаєте запит -  ми надаємо консультацію і на початку ремонту, будь ласка, звертайтеся за цим питанням до нас.


                    .accordion-item
                        h2#headingThree.accordion-header
                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                | Терміни виготовлення
                        #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                            .accordion-body
                                p Середній термін виготовлення замовлення 14 робочих днів. За цей час можуть виготовитися жалюзі, карнизи, римські штори під ваш тип і розмір. 
                                p Також у нас є експрес-послуги на моно товари. Тобто якщо вам потрібно терміново пошити одну тюль і штору, це виконується до 3 робочих днів.
                                p Якщо тканини європейських брендів - час їх очікування від 3 тижнів і час на пошив, тому під час вибору вами колекції ми одразу надаємо чітку відповідь щодо термінів. 
                    
                    .accordion-item
                        h2#headingFour.accordion-header
                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                                | Доставка
                        #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour' data-bs-parent='#accordionExample')
                            .accordion-body
                                p Доставка по території України здійснюється на будь-яке відділення або поштомат Нової пошти.
                                p Також можемо зробити доставку у будь-яку точку світу: Америка, Канада, Європа, ми можемо доставити товар перевізником який найбільше підходить вам!
                
                    .accordion-item
                        h2#headingFive.accordion-header
                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
                                | Електричні карнизи
                        #collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive' data-bs-parent='#accordionExample')
                            .accordion-body
                                p Оптимізація вашого найціннішого ресурсу - часу. Саме на електричний карниз, якщо є ніша її потрібно правильно продумати. Якщо електричний карниз є тільки на штори, а  позаду має бути тюль відступ на нішу має бути глибиною 25 см, а висотою опущення від 10 см, ідеальне 15-18 см, щоб не було видно самих бігунків. Що потрібно щоб функціонували електричні карнизи - це вивід 220 В з будь-якого кута де буде вмонтований сам мотор, адже це важливо.Мотор ми приховуємо тканиною з правильним пошиттям під автоматику.
                                p Вивід 220В обов'язково повинен бути врахований для нормального функціонування електричного карнизу, а саме  закриття та відкриття штор чи тюля. 