section.our-blog
    .our-blog__title
        .container
            .our-blog__title--wrapper
                h2 Blog
                a.btn.btn_secondary.btn_large.d-none.d-lg-block(href="#") Go to blog
    .container
        .our-blog__cards
            a.blog-item(href="#")
                .blog-item__img
                    img(src="../../images/home/blog1.png")
                h5.blog-item__title Building Up from Local to International SEO
                span.date March 10, 2022
            a.blog-item(href="#")
                .blog-item__img
                    img(src="../../images/home/blog2.png")
                h5.blog-item__title Digital Marketing: More Local Than You Think
                span.date March 3, 2022
            a.blog-item(href="#")
                .blog-item__img
                    img(src="../../images/home/blog3.png")
                h5.blog-item__title Examine Web Design Firms’ Portfolios Before Any Partnership
                span.date March 3, 2022
            a.btn.btn_secondary.btn_large.d-lg-none(href="#") Go to blog