.reviews
  h2 Відгуки наших клієнтів
  .reviews__items.flex
    .review
      .review__top.flex.ai-center
        .date 24.12.2022
        .rating
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
      .review__name
        p Олексій Валовий
      .review__txt 
        p Office ipsum you must be muted. Meeting driving activities got board identify meeting price what hurting. Without fastworks contribution loop minimize whatever identify.
    .review
      .review__top.flex.ai-center
        .date 24.12.2022
        .rating
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
      .review__name
        p Олексій Валовий
      .review__txt 
        p Office ipsum you must be muted. Meeting driving activities got board identify meeting price what hurting. Without fastworks contribution loop minimize whatever identify.
    .review
      .review__top.flex.ai-center
        .date 24.12.2022
        .rating
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
          include ../../images/star-white.svg
      .review__name
        p Олексій Валовий
      .review__txt 
        p Office ipsum you must be muted. Meeting driving activities got board identify meeting price what hurting. Without fastworks contribution loop minimize whatever identify.