section.sizing-chart 
  .sizing-chart__wrapper 
    .container
      .sizing-chart__inner 
        .sizing-chart__head
          h6.sizing-chart__title sizing chart 
          button.close
            include ../../images/svg/close.svg
        table 
          thead
            tr 
              th size
              th chest
              th body length
          tbody
            tr 
              td s 
              td 18"
              td 28"
            tr 
              td m
              td 20"
              td 29"
            tr 
              td l
              td 22"
              td 30"
            tr 
              td xl
              td 24"
              td 31"
            tr 
              td 2xl
              td 26"
              td 32"
