header.merch-header 
  .merch-header__wrapper 
    .container
      .merch-header__inner.d-flex.align-items-center.justify-content-between
        .merch-header__logo 
          include ../../images/svg/pinkshark-store.svg
        .merch-header__cart.d-flex.align-items-center
          .count 
            p cart 
              span (2)
          .image
            include ../../images/svg/cart.svg